<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    使用Spring来创建对象，在Spring这些都称为Bean

        id = 变量名
        class = new的对象
        property 相当于给对象中的属性设置一个值

        这个过程就叫控制反转
        控制： 谁来控制对象的创建，传统应用程序的对象是由程序本身控制创建的，使用spring之后，对象就是由spring创建的
        反转： 程序本身不创建对象，而变成被动的接收对象
        依赖注入： 就是利用set方法来进行注入的
        IOC是一种编程思想，由主动的编程变成被动的接收

        到了现在，我们彻底不用再到程序中去改动了。要实现不同的操作，只需要在xml配置文件中进行修改
        所谓的IOC，一句话搞定： 对象有Spring来创建、管理、装配
-->
    <bean id="hello" class="com.shf.pojo.Hello">
        <property name="str" value="Spring"/>
    </bean>
</beans>