<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

<!--    注册bean-->
    <bean id="userService" class="com.shf.service.UserServiceImpl"/>
    <bean id="log" class="com.shf.log.Log"/>
    <bean id="afterLog" class="com.shf.log.AfterLog"/>


<!--    方式一: 使用原生springAPI接口-->
<!--    配置aop  需要导入aop约束-->
    <aop:config>
<!--        切入点: expression     表达式,execution(需要执行的位置)-->
        <aop:pointcut id="pointcut" expression="execution(* com.shf.service.UserServiceImpl.*(..))"/>

<!--        执行环绕增加-->
        <aop:advisor advice-ref="log" pointcut-ref="pointcut"/>
        <aop:advisor advice-ref="afterLog" pointcut-ref="pointcut"/>
    </aop:config>
</beans>